#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    theme: Some("theme"),
    wrap_navigation: true,
    status_update_interval_ms: 1000,
    album_art: (
        method: UeberzugX11,
        max_size_px: (width: 1200, height: 1200),
        disabled_protocols: ["http://", "https://"],
        vertical_align: Center,
        horizontal_align: Center,
    ),
    keybinds: (
        global: {
            "y": ToggleRepeat, // QWERTZ
        },
    ),
)
