#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    format_tag_separator: " | ",
    preview_label_style: (fg: "light_green"),
    preview_metadata_group_style: (fg: "green", modifiers: "Bold"),
    highlighted_item_style: (fg: "blue", modifiers: "Bold"),
    current_item_style: (fg: "white", bg: "blue", modifiers: "Bold"),
    borders_style: (fg: "8"),
    highlight_border_style: (fg: "8"),
    symbols: (
        song: "󰎇",
        dir: "",
        playlist: "󰲸",
        marker: "󰄲",
        ellipsis: "…",
        song_style: (fg: "green"),
        dir_style: (fg: "yellow"),
        playlist_style: (fg: "cyan"),
    ),
    level_styles: (
        info: (fg: "white", bg: "blue"),
        warn: (fg: "yellow", bg: "black"),
        error: (fg: "white", bg: "red"),
        debug: (fg: "light_green", bg: "black"),
        trace: (fg: "magenta", bg: "black"),
    ),
    progress_bar: (
        symbols: ["█", "█", "", " ", "█"],
        track_style: None,
        elapsed_style: (fg: "27"),
        thumb_style: (fg: "27"),
        use_track_when_empty: true,
    ),
    scrollbar: (
        symbols: ["│", "█", "^", "v"],
        track_style: (),
        ends_style: (),
        thumb_style: (fg: "blue"),
    ),
    layout: Split(
        direction: Vertical,
        panes: [
            (
                size: "4",
                pane: Split(
                    direction: Horizontal,
                    panes: [
                        (
                            size: "100%",
                            borders: "ALL",
                            border_symbols: Inherited(parent: Rounded, top_right: "┬", bottom_left: "├", bottom_right: "┴"),
                            pane: Component("header_center")
                        ),
                        (
                            size: "35",
                            borders: "RIGHT | TOP | BOTTOM",
                            border_symbols: Inherited(parent: Rounded, bottom_right: "┤"),
                            pane: Component("header_right")
                        ),
                    ]
                )
            ),
            (
                size: "2",
                pane: Split(
                    direction: Horizontal,
                    panes: [
                        (
                            size: "100%",
                            borders: "LEFT | RIGHT | BOTTOM",
                            border_symbols: Inherited(parent: Rounded, bottom_left: "├", bottom_right: "┤"),
                            border_title: [
                                (kind: Text(" ")),
                                (kind: Property(Status(QueueLength()))),
                                (kind: Text(" songs | ")),
                                (kind: Property(Status(QueueTimeTotal()))),
                                (kind: Text(" total time "))
                            ],
                            border_title_alignment: Right,
                            border_title_position: Bottom,
                            pane: Component("progress_bar"),
                        ),
                    ]
                ),
            ),
            (
                pane: Pane(Tabs),
                borders: "RIGHT | LEFT | BOTTOM",
                border_symbols: Rounded,
                size: "2",
            ),
            (
                pane: Pane(TabContent),
                size: "100%",
            ),
        ],
    ),
    components: {
        "state": Pane(Property(
            content: [
                //(kind: Property(Status(StateV2( ))), style: (fg: "yellow", modifiers: "Bold")),
                (kind: Property(Status(StateV2(
                                playing_label: "[▶]",
                                paused_label: "[⏸]",
                                stopped_label: "[⏹]",
                                playing_style: (fg: "light_blue"),
                                paused_style: (fg: "yellow"),
                                stopped_style: (fg: "red", modifiers: "Dim"))))
                ),
            ], align: Left,
        )),
        "title": Pane(Property(
            content: [
                (kind: Property(Song(Title)), style: (modifiers: "Bold"),
                    default: (kind: Text("No Song"), style: (modifiers: "Bold"))),
            ], align: Center, scroll_speed: 1
        )),
        "volume": Split(
            direction: Horizontal,
            panes: [
                (size: "1", pane: Pane(Property(content: [(kind: Text(""))]))),
                (size: "100%", pane: Pane(Volume(kind: Slider(
                                symbols: (
                                    filled: "─",
                                    thumb: "●",
                                    track: "─",
                                ),
                                track_style: (fg: "8"), 
                                filled_style: (fg: "cyan"),
                                thumb_style: (fg: "cyan"),
                )))),
                (size: "3", pane: Pane(Property(content: [(kind: Property(Status(Volume)), style: (fg: "cyan"))], align: Right))),
                (size: "2", pane: Pane(Property(content: [(kind: Text("%"), style: (fg: "cyan"))]))),
            ]
        ),
        "elapsed": Pane(Property(
            content: [
                (kind: Property(Status(Elapsed))), 
                (kind: Text(" / ")), 
                (kind: Property(Status(Duration))), 
            ],
            align: Right,
        )),
        "artist_and_album": Pane(Property(
            content: [
                (kind: Property(Song(Artist)), style: (fg: "green", modifiers: "Bold"),
                    default: (kind: Text("Unknown"), style: (fg: "green", modifiers: "Bold"))),
                (kind: Text(" - ")),
                (kind: Property(Song(Album)), default: (kind: Text("Unknown Album"))),
            ], align: Center, scroll_speed: 1
        )),
        "states": Split(
            direction: Horizontal,
            panes: [
                (
                    size: "1",
                    pane: Pane(Empty())
                ),
                (
                    size: "100%",
                    pane: Pane(Property(content: [(kind: Property(Status(InputBuffer())), style: (fg: "blue"), align: Left)]))
                ),
                (
                    size: "17",
                    pane: Pane(Property(content: [
                        (kind: Text("["), style: (fg: "blue", modifiers: "Bold")),
                        (kind: Property(Status(RepeatV2(
                            on_label: "REP ",
                            off_label: "REP ",
                            on_style: (fg: "yellow", modifiers: "Bold"),
                            off_style: (fg: "blue", modifiers: "Dim"),
                        )))),
                        (kind: Property(Status(RandomV2(
                            on_label: "SHF ",
                            off_label: "SHF ",
                            on_style: (fg: "yellow", modifiers: "Bold"),
                            off_style: (fg: "blue", modifiers: "Dim"),
                        )))),
                        (kind: Property(Status(ConsumeV2(
                            on_label: "CSU ",
                            off_label: "CSU ",
                            oneshot_label: "CSU ",
                            on_style: (fg: "yellow", modifiers: "Bold"),
                            off_style: (fg: "blue", modifiers: "Dim"),
                            oneshot_style: (fg: "red", modifiers: "Bold"),
                        )))),
                        (kind: Property(Status(SingleV2(
                            on_label: "ONE",
                            off_label: "ONE",
                            oneshot_label: "ONE",
                            on_style: (fg: "yellow", modifiers: "Bold"),
                            off_style: (fg: "blue", modifiers: "Dim"),
                            oneshot_style: (fg: "red", modifiers: "Bold"),
                        )))),
                        (kind: Text("]"), style: (fg: "blue", modifiers: "Bold")),
                        ],
                        align: Left
                    ))
                ),
            ]
        ),
        "header_center": Split(
            direction: Vertical,
            panes: [
                (size: "1", pane: Component("title")),
                (size: "1", pane: Component("artist_and_album")),
            ]
        ),
        "header_right": Split(
            direction: Vertical,
            panes: [
                (size: "1", pane: Component("volume")),
                (size: "1", pane: Component("states")),
            ]
        ),
        "progress_bar": Split(
            direction: Horizontal,
            panes: [
                (size: "3", pane: Component("state")),
                (
                    borders: "RIGHT | LEFT",
                    size: "100%",
                    pane: Pane(ProgressBar)
                ),
                (size: "8%", pane: Component("elapsed")),
            ]
        )
    },
)
